[submodule "SEP4Android"]
	path = SEP4Android
	url = https://github.com/grzszy/SEP4Android
	branch = master
[submodule "DWH_SEP4"]
	path = DWH_SEP4
	url = https://github.com/VaclavDvorakHorsens/DWH_SEP4.git
	branch = master
[submodule "SEP4_IoT"]
	path = SEP4_IoT
	url = https://github.com/rexizam/SEP4_IoT.git
	branch = master
